li {
    list-style: none;
}

li:hover {
    background-color: rgb(42, 54, 87);
    cursor: pointer;
    color: white;
    user-select: none;
}

li:active {
    background-color: rgb(99, 106, 126);
}
p {
    margin: 0;
    user-select: none;
}
