:root {
    --sky-color: #263238;
    /* --sec-color: #18b092; */
    --sec-color: whitesmoke;
    --header-color: #ffff;
    --shawdow-color: #a9d7f7;
    --bg-action-bar: #525c71;
    --hover-color: #a9d7f7;
    --table-border-color: #9e9e9e;
    --table-hover-color: #263238;
    --table-border-color-dark: #4e617e;

}

.short-menu {
    user-select: none;
    /* background-color: #1095c1; */
    justify-items: center;
}

.short-menu ul li:first-child {
    border-top: 3px solid var(--shawdow-color);
}

.short-menu ul li:last-child {
    border-bottom: 3px solid var(--shawdow-color);
}

.short-menu ul li:nth-child(2n) {
    border-left: 4px solid var(--shawdow-color);
    /* border-bottom: 3px solid var(--shawdow-color); */

}

.short-menu ul li:not(:nth-child(2n)) {
    border-right: 4px solid var(--shawdow-color);
    /* border-top: 3px solid var(--shawdow-color); */
}

.seg {
    height: 54px;
    width: 54px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    background-color:
        linear-gradient(90deg, #1095c1 50%, #000 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: bg;
    background-clip: bg;
    transition: 0.8s;
    /* border: 3px solid var(--shawdow-color); */

}

.seg:hover {
    background-color: var(--hover-color);
    --_p: 0%;
}

.seg:hover {
    color: var(--sky-color);
}

.seg:active {
    background-color: var(--sky-color);
}

.seg[data-active="true"] {
    background-color: var(--hover-color);
    color: var(--sky-color);
}

.left ul {
    list-style-type: none;
    padding: 0px;
}

.menu-panel {
    background-color: var(--sky-color);
    color: white;
    padding-left: 10px;
    margin-left: 6px;
    z-index: 1000;
    min-width: 500px !important;
    opacity: 0.9;
}

.menu-panel .tittle-menu {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.exit-menu {
    position: absolute;
    right: 5px;
    top: 0px;
    cursor: pointer;
    color: rgb(233, 32, 32);
    font-size: 1.2rem;
}

.exit-menu:hover {
    color: rgb(85, 0, 0);
}

.menu-item{
    background-color: var(--sky-color);
    cursor: pointer;
}